<ion-header>
    <ion-toolbar>
        <ion-title>TODO</ion-title>
        <ion-buttons slot="end">
            <ion-grid *ngIf="tareaQuery.showSummaryInHeader$ | async">
                <ion-row style="text-transform: uppercase;">
                    <ion-col>
                        <div>
                            P:
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            {{tareaQuery.tareasPendientesCount$ | async}}
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            IP:
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            {{tareaQuery.tareasProgresoCount$ | async}}
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            H:
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            {{tareaQuery.tareasHechosCount$ | async}}
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row class="titulo">
            <ion-col>
                <div>
                    <ion-text>
                        <h5>name</h5>
                    </ion-text>
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-text>
                        <h5>description</h5>
                    </ion-text>
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-text>
                        <h5>start</h5>
                    </ion-text>
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-text>
                        <h5>end</h5>
                    </ion-text>
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-text>
                        <h5>state</h5>
                    </ion-text>
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-text>
                        <h5>change state</h5>
                    </ion-text>
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-text>
                        <h5>eliminar</h5>
                    </ion-text>
                </div>
            </ion-col>
            <!-- <ion-col>
        <div>
          photo
        </div>
      </ion-col> -->
        </ion-row>
        <div *ngIf="tareaQuery.loading$ | async; else posts ">
            <ion-progress-bar type="indeterminate"></ion-progress-bar>
        </div>
        <ng-template #posts>
            <div *ngFor="let tarea of tareaQuery.tareas$ | async">
                <ion-row>
                    <ion-col>
                        <div>
                            {{tarea.name}}
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            {{tarea.description}}
                        </div>
                    </ion-col>
                    <ion-col class="centrar">
                        <div>
                            {{tarea.dateStart | date:"dd/MM/yyyy"}}
                        </div>
                    </ion-col>
                    <ion-col class="centrar">
                        <div>
                            {{tarea.dateEnd | date:"dd/MM/yyyy"}}
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            {{tarea.state}}
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <ion-select [value]="tarea.state" multiple="false" placeholder="Select State" (ionChange)="onTareaStateChange($event,tarea)">
                                <ion-select-option *ngFor="let opcionesEstado of opcionesEstados">{{opcionesEstado}}</ion-select-option>
                            </ion-select>
                        </div>
                    </ion-col>
                    <ion-col class="centrar">
                        <ion-button (click)="eliminar(tarea)" color="danger">
                            <ion-icon name="trash"></ion-icon>
                        </ion-button>
                    </ion-col>
                    <!-- <ion-col>
            <div>
              <ion-img [src]="tarea.photo" *ngIf="tarea.photo"></ion-img>
            </div>
          </ion-col> -->
                </ion-row>
            </div>
        </ng-template>
    </ion-grid>


    <ion-button expand="full" color="primary" (click)="abrirModal()">Agregar Tarea</ion-button>

</ion-content>