// aplicando estilos para el titulo
.titulo {
    text-transform: capitalize;
    text-align: center;
    background-color: rgb(128, 128, 128, 0.5);
}

// aplicando un estilo para el centrado
.centrar {
    text-align: center;
}