<ion-header>
    <ion-toolbar>
        <ion-title>SETTINGS</ion-title>
        <ion-buttons slot="end">
            <!-- <app-cabecera-resumen></app-cabecera-resumen> -->
            <ion-grid *ngIf="tareaQuery.showSummaryInHeader$ | async">
                <ion-row style="text-transform: uppercase;">
                    <ion-col>
                        <div>
                            P:
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            {{tareaQuery.tareasPendientesCount$ | async}}
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            IP:
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            {{tareaQuery.tareasProgresoCount$ | async}}
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            H:
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            {{tareaQuery.tareasHechosCount$ | async}}
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header color="medium">
            Notifications
        </ion-list-header>
        <ion-item *ngFor="let push of tareaService.pushes">
            <ion-label text-wrap>
                <ion-text color="primary">
                    <h3>{{push.title}}</h3>
                </ion-text>
                <p>{{push.body}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <div *ngIf="!tareaService.pushes.length" class="empty">
        No hay notificaciones por el momemento.
    </div>

</ion-content>