<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="todo">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>TODO</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="summary">
      <ion-icon name="book"></ion-icon>
      <ion-label>SUMMARY</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="cog"></ion-icon>
      <ion-label>SETTINGS</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
