<ion-header>
  <ion-toolbar>
    <ion-title>Agregar tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="checkoutForm" (ngSubmit)="submit()" #f="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" type="text" placeholder="Name"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.name">
        <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea formControlName="description" placeholder="Description de la tarea..."></ion-textarea>
      </ion-item>
      <div *ngFor="let error of errorMessages.name">
        <ng-container *ngIf="description.hasError(error.type) && (description.dirty || description.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating">Date Start</ion-label>
        <ion-datetime formControlName="dateStart" display-format="DD.MM.YYYY"></ion-datetime>
      </ion-item>
      <div *ngFor="let error of errorMessages.name">
        <ng-container *ngIf="dateStart.hasError(error.type) && (dateStart.dirty || dateStart.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Date End</ion-label>
        <ion-datetime formControlName="dateEnd" display-format="DD.MM.YYYY"></ion-datetime>
      </ion-item>
      <div *ngFor="let error of errorMessages.name">
        <ng-container *ngIf="dateEnd.hasError(error.type) && (dateEnd.dirty || dateEnd.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">State</ion-label>
          <ion-select formControlName="state" multiple="false" placeholder="Select State">
            <ion-select-option value="PENDIENTE">PENDIENTE</ion-select-option>
            <ion-select-option value="EN PROGRESO">EN PROGRESO</ion-select-option>
            <ion-select-option value="HECHO">HECHO</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item>
        <ion-button (click)="subirFoto()" expand="block" color="tertiary">
          Agregar Foto
        </ion-button>
      </ion-item>
      <ion-button color="primary" type="submit" [disabled]="checkoutForm.invalid" expand="full" >
        Guardar
      </ion-button>
    </ion-list>
  </form>

  <ion-button color="secondary" (click)="Salir()" expand="full" >
    Salir
  </ion-button>
</ion-content>


