<ion-header>
    <ion-toolbar>
        <ion-title>SUMMARY</ion-title>
        <ion-buttons slot="end">
            <ion-grid *ngIf="tareaQuery.showSummaryInHeader$ | async">
                <ion-row style="text-transform: uppercase;">
                    <ion-col>
                        <div>
                            P:
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            {{tareaQuery.tareasPendientesCount$ | async}}
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            IP:
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            {{tareaQuery.tareasProgresoCount$ | async}}
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            H:
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            {{tareaQuery.tareasHechosCount$ | async}}
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row style="text-transform: uppercase;">
            <ion-col>
                <div>
                    Pendientes
                </div>
            </ion-col>
            <ion-col>
                <div>
                    En progreso
                </div>
            </ion-col>
            <ion-col>
                <div>
                    finalizado
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>
                    {{tareaQuery.tareasPendientesCount$ | async}}
                </div>
            </ion-col>
            <ion-col>
                <div>
                    {{tareaQuery.tareasProgresoCount$ | async}}
                </div>
            </ion-col>
            <ion-col>
                <div>
                    {{tareaQuery.tareasHechosCount$ |async}}
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div>
        <ion-select [(ngModel)]="Resumen" multiple="false" placeholder="Selecciona resumen de cabecera" (ionChange)="onResumen()">
            <ion-select-option *ngFor="let opcionesResumen of opcionesResumenes">{{opcionesResumen}}</ion-select-option>
        </ion-select>
    </div>
</ion-content>